.button {
    width: 18.75rem;
    height: 10.625rem;
    flex-shrink: 0;
    background-color: var(--white);
   
    border: 3px solid var(--red);
    border-image-slice: 1;
    border-radius: 1.5625rem;

}


.button:active {
    box-shadow: 0 0 0 0;
}

.circle
{   
    position: relative;
    margin: 2.19rem 11rem 2.19rem 1.5rem;
    width: 6.25rem;
    height: 6.25rem;
    flex-shrink: 0; 
}

.svg {
    width: 4.5rem;
    height: 3.5rem;
    flex-shrink: 0; 
    fill: #FFFFFF;
    z-index: 1;
}
.h1 {
    position: relative;
    margin: 2.62rem 1.87rem 6.31rem  9.37rem ;
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
.h2 {
    color: #000;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    }
.text {
        color: #000;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}